# currently looking at all-in-one for black and click
# https://github.pfidev.jp/Cluster/all-in-one/pull/116
black==21.7b0
click==8.0.2
flake8-bugbear==22.8.23
flake8==5.0.4
isort==5.10.1
mypy==0.971
bump2version>=1.0.0
cclib>=1.7.2
cmake>=3.24.1
invoke>=1.7.1
pysen>=0.10.2
onnx>=1.8.0
pandas>=1.4.3
pytest>=7.1.2
pytest-cov>=3.0.0
pytest-xdist>=2.5.0
pytorch-pfn-extras==0.6.5
types-pyyaml>=5.4.6
prose-pfn>=0.7.2
